{%extends 'base_middle.html'%}
{%block head%}
<script>
    $(function () {
        $('.col04').each(function () {
            price=parseFloat($(this).prev().prev().find('span').text())
            count=parseInt($(this).prev('.col03').text())
            sum=price*count
            $(this).children('em').text(sum.toFixed(2))
        })
    });
</script>
{%endblock head%}
{%block right%}
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
            	{%for order in page%}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{order.odate}}</li>
					<li class="col02">{{order.oid}}</li>
					<li class="col02 stress">{%if order.oIsPay %}已支付{%else%}未支付{% endif %}</li>
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                {%for lit in order.orderdetailinfo_set.all%}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="/static/{{lit.goods.gpic}}"></li>
                                    <li class="col02">{{lit.goods.gtitle|truncatechars:10}}<em><span>{{lit.price}}</span>/{{lit.goods.gunit}}</em></li>
									<li class="col03">{{lit.count}}</li>
									<li class="col04"><em>11.80</em>元</li>
								</ul>
                                {%endfor%}
							</td>
							<td width="15%">{{order.ototal}}元</td>
                            {%if order.oIsPay%}
							<td width="15%">已付款</td>
                            <td width="15%"><a href="/order/pay{{order.oid}}/" class="oper_btn">查看物流</a></td>
                            {%else%}
                            <td width="15%">未付款</td>
							<td width="15%"><a href="/order/pay{{order.oid}}/" class="oper_btn">去付款</a></td>
                            {%endif%}
						</tr>
					</tbody>
				</table>
				{% endfor %}
				<div class="pagenation">
                    <!--page是上下文传递的键名-->
                    {% if page.has_previous %}
                        <a href="/users/order{{page.number|add:-1}}/">&lt;上一页</a>
                    {% endif %}
                    {% if page.paginator.num_pages <= 5 %}
                    {% for index in page.paginator.page_range %}
                        {% if index == page.number %}
                            <a href="#" class="active">{{index}}</a>
                        {% else %}
                            <a href="/users/order{{index}}/">{{index}}</a>
                        {% endif %}
                        {% endfor %}
                    {% else %}
                    {% if page.number == 1 %}
                    <a class = 'first'>&lt;上一页</a>
                    <a href="#" class="active">1</a>
                    <a href="/users/order2/">2</a>
                    <a href="/users/order3/">3</a>
                    <a href="/users/order4/">4</a>
                    <a href="/users/order5/">5</a>
                    {% elif page.number == 2 %}
                    <a href="/users/order1/" >1</a>
                    <a href="#" class="active">2</a>
                    <a href="/users/order3/">3</a>
                    <a href="/users/order4/">4</a>
                    <a href="/users/order5/">5</a>
                    {% elif page.number == page.paginator.num_pages|add:-1 %}
                    <a href="/users/order{{page.number|add:-3}}/">{{page.number|add:-3}}</a>
                    <a href="/users/order{{page.number|add:-2}}/">{{page.number|add:-2}}</a>
                    <a href="/users/order{{page.number|add:-1}}/">{{page.number|add:-1}}</a>
                    <a href="#" class="active">{{page.number}}</a>
                    <a href="/users/order{{page.number|add:1}}/">{{page.number|add:1}}</a>
                    {% elif page.number == page.paginator.num_pages %}
                    <a href="/users/order{{page.number|add:-4}}/">{{page.number|add:-4}}</a>
                    <a href="/users/order{{page.number|add:-3}}/">{{page.number|add:-3}}</a>
                    <a href="/users/order{{page.number|add:-2}}/">{{page.number|add:-2}}</a>
                    <a href="/users/order{{page.number|add:-1}}/">{{page.number|add:-1}}</a>
                    <a href="#" class="active">{{page.number}}</a>
                    {% else %}
                    <a href="/users/order{{page.number|add:-2}}/">{{page.number|add:-2}}</a>
                    <a href="/users/order{{page.number|add:-1}}/">{{page.number|add:-1}}</a>
                    <a href="#" class="active">{{page.number}}</a>
                    <a href="/users/order{{page.number|add:1}}/">{{page.number|add:1}}</a>
                    <a href="/users/order{{page.number|add:2}}/">{{page.number|add:2}}</a>
                    {% endif %}
                    {% endif %}
                        {% if page.has_next %}
                        <a href="/users/order{{page.number|add:1}}">下一页&gt;</a>
                        <a href="/users/order{page.paginator.num_pages}}/">末页</a>
                        {% endif %}
                </div>
		</div>
{%endblock right%}